<style>
    .container
    {
        height: 100%;
        width: 100%;
    }

    input{
        font-size: calc(min(100vh, 100vw) * 0.05);
        font-family: var(--text-font);
        font-style: oblique;
        font-weight: normal;
        color: var(--accent-color);
        font-weight: bold;

        background-color: black;
    }

    .searchBar
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .findUsers
    {
        display: flex;
        height: 80%;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        margin-top: 3vh;
    }

    .user-class
    {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        cursor: pointer;
        margin: 1vh;
    }

    .selected-user-class
    {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        cursor: pointer;
        margin: 1vh;
        background-color: darkgrey;
    }

    .topRow{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .closeIcon{
        cursor: pointer;
    }
    .search-input{
        border-radius: 10px;
        border: none;
        font-size: calc(min(100vh, 100vw) * 0.05);
        font-family: var(--text-font);
        font-style: oblique;
        font-weight: normal;
        color: var(--accent-color);
        font-weight: bold;
        background-color: transparent;
    }

    .search-input-selected{
        border-radius: 10px;
        border: none;
        font-size: calc(min(100vh, 100vw) * 0.05);
        font-family: var(--text-font);
        font-style: oblique;
        font-weight: normal;
        color: grey;
        font-weight: bold;
        background-color: white
    }

    .close-label{
        font-size: calc(min(100vh, 100vw) * 0.05);
        font-family: var(--text-font);
        font-style: oblique;
        font-weight: normal;
        color: var(--accent-color);
        font-weight: bold;
        color: grey;
    }

    .close-label-selected{
        font-size: calc(min(100vh, 100vw) * 0.05);
        font-family: var(--text-font);
        font-style: oblique;
        font-weight: normal;
        color: white;
        font-weight: bold;
    }

    .avatar {
        width: min(7vh, 7vw);
        height: min(7vh, 7vw);
        border-radius: 50%;
        border: 2px solid var(--accent-color);
    }
</style>

<div id="content-screen">
    <div class="container">
        <div class="topRow">
        <h4 class="closeIcon" [ngClass]="isSelected('search_close') ? 'close-label-selected' : 'close-label'" (mouseover)="naviguate('search_close/user-search')" (click)="press('next')"><</h4>
        <div class="searchBar">
            <input
            type="text"
            readonly
            placeholder="Search" 
            [(ngModel)]="inputText"
            [ngClass]="isSelected('search_input') ? 'search-input-selected' : 'search-input'"
            (mouseover)="naviguate('search_input/user-search')" (click)="press('next')"
            >
        </div>
        </div>
        <div #scrollContainer class="findUsers">
            <div #userDiv *ngFor="let user of findUsers" [ngClass]="isSelected(getNavIdOfUser(user.name)) ? 'selected-user-class' : 'user-class'" (mouseover)="naviguate(getNavIdOfUser(user.name) + '/user-search')" (click)="press('next')">
                <img class="avatar" [src]="getAvatarOfUser(user.name)" alt="Avatar">
                <h4>{{user.name}}</h4>
                <p></p>
            </div>
        </div>  
    </div>
</div>