.container{
    overflow-y: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.alert{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding: 2vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h5{
    color: wheat;
}